/* ========================================================= Hero  */

.morph-blob {
    min-width: 200px;
    height: auto;
    background-color: #793FDF;
    border-radius:  30% 70% 70% 30% / 30% 30% 70% 70% ;
    animation: morphBorders 4s linear infinite;
    overflow: hidden;
    filter:drop-shadow(2px 4px 6px rgb(33, 32, 32));
}    

 @keyframes morphBorders {
   0% , 100% { border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ; }

   25% { border-radius: 70% 30% 31% 69% / 34% 23% 77% 66%  ;   }

  50% { border-radius: 53% 47% 19% 81% / 59% 76% 24% 41%  ; }

  75% { border-radius: 46% 54% 74% 26% / 73% 52% 48% 27% ;}
}

/* ========================================================= Get In Touch  */

.wave {
     place-items:  center;
 }

 .wave h2 {
     font-size: 4em;
 }

 .wave h2:nth-child(1) {
     color: transparent;
     -webkit-text-stroke: 2px #793FDF;
 }

 .wave h2:nth-child(2) {
     color: #793FDF;
     animation: wave-text 4s ease-in-out infinite;
 }

 @keyframes wave-text {

     0%,
     100% {
         clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%)
     }

     50% {
         clip-path: polygon(0 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 40%, 100% 100%, 0% 100%)
     }
 }

 @media only screen and (max-width: 500px) {
     .wave h2 {
         font-size: 3rem !important;
     }
 }


/* ========================================================= Skills  */


 .floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px;
    margin-top: 5px; */
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

/* ======================================================== fish */

.fish-container1 , .fish-container2 , .fish-container3 {
  position: absolute;
  height: 50%;
  overflow: hidden;
  z-index: 1;
  width: 200%;
  left: -75px;
}

.fish-container3 {
  bottom: -15%;
}
.fish-container1 {
  top: 10%;
}

.fish-o1 , .fish-o2, .fish-o3 , .fish-o4 , .shark-o1 , .fish-o5 , .fish-o6 , .fish-o7 , .fish-o8 , .fish-o9{
position: absolute;
animation: bounce 5s infinite ease-in-out;
}

.fish-o1 , .fish-o2, .fish-o3 , .fish-o4 , .shark-o1 {
  left: 0;
}

.fish-o5 , .fish-o6 , .fish-o7 , .fish-o8 , .fish-o9 {
  transform: scale(-1, 1);
}

.fish1 , .fish2 , .fish3 , .fish4 , .shark  {
  position: absolute;
   animation: swim 20s infinite linear  ; 
  height: auto;
} 

.fish5 , .fish6 , .fish7 , .fish8 , .fish9 {
  transform: scale(-1, 1);
  position: absolute;
  animation: swim-rtl 20s infinite linear  ;
  height: auto;  
  left: 100px
}

 .fish1{
  width: 50px;
  opacity: 0.7; 
}
.fish2 {
  width: 60px;
  left: 30px;
  top: 15px;
  opacity: 0.8;
}
.fish3 {
  width: 40px;
  left: 15px ;
  top:45px ;
  opacity: 0.8;
}
.fish4  {
width: 70px;
    left: -25px;
    top: 45px;
    opacity: 0.7;
}
.shark {
    width: 150px;
    left: -140px;
    opacity: 0.6;
    top: -20px;
}
.fish5 {
  width: 60px;
  left:75px;
  opacity: 0.7;
}
.fish6{
  width: 70px;
  left: 10px;
  top: 20px;
  opacity: 0.8;
}
.fish7 {
 width: 45px;
 left: 85px;
 top: 55px;
 opacity: 0.7;
}
.fish8 {
  width: 65px;
  left:32px;
  top:55px;
  opacity: 0.8;
}
.fish9 {
  width: 80px;
  left: 115px;
  top:18px;
  opacity: 0.6;
}

@keyframes swim {
  0% {
    transform: translate(-300px, 0); 
  }
  100% {
    transform: translate(150vw, 0); 
  }
}

@keyframes swim-rtl {
  0% {
    transform: translate(150vw, 0) scale(-1,1) ; 
  }
  100% {
    transform: translate(-300px, 0) scale(-1,1); 
  }
}

/* Bouncing up and down */
@keyframes bounce {
  0%, 50%, 100% {
    transform: translate(0, 0); 
  }
  25% {
    transform: translate(0, -10px); 
  }
  75% {
    transform: translate(0, -7px); 
  }
}

.fish-o1 , .fish1 {
  animation-duration: 19s;
}
.fish-o2 , .fish2 {
  animation-duration: 18s;
}
.fish-o3 , .fish3 {
  animation-duration: 28s;
}
.fish-o4 , .fish4 {
  animation-duration: 20s;
}

.fish-o5 {
  animation-delay: 0s; 
}
.fish-o6  {
  animation-delay: 0.5s; 
}
.fish-o7 {
  animation-delay: 1s; 
}
.fish-o8 {
  animation-delay: 1.5s; 
}
.fish-o9 {
  animation-delay: 2s; 
}

/* ================================================== star fish  */

.fish-container4 {
  position: absolute;
    height: 50%;
    z-index: 1;
    /* top: 90%; */
    left: 0;
    width: 100%;
}

.star-fish-o1 {
  position: absolute;
  left: 12%;
}

.star-fish {
  position: absolute;
  animation: circle-motion 10s infinite ease-in-out;
  height: auto;
  width: 50px;
}

@keyframes circle-motion {
  0% {
    transform: translate(0%, 0%) rotate(0deg); /* Starting point */
  }
  25% {
    transform: translate(30%, -30%) rotate(90deg); /* Move 30% right and -30% up */
  }
  50% {
    transform: translate(60%, 0%) rotate(180deg); /* Move to the right, horizontally aligned */
  }
  75% {
    transform: translate(30%, 30%) rotate(270deg); /* Move 30% right and 30% down */
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg); /* Return to the starting point */
  }
}


/* ======================================================== sea horse */

.sea-horse-o1 {
  position: absolute;
  right: 20%;
  animation: flip 15s infinite ease-in-out;
}

.sea-horse {
  position: absolute;
  animation: sea-horse 15s infinite ease-in-out;
  height: auto;
  width: 30px;
  rotate: 30deg;
  opacity: 0.8;
}

@keyframes sea-horse {
    0% { transform: translate(0,  0px); }
    15%  { transform: translate(0, -25px); }
    25%   { transform: translate(0, -0px); }  
    35% { transform: translate(0, 5px);}  
    60% { transform: translate(0, -75px);}
    80% { transform: translate(0, 10px); }
    100%{transform: translate(0, -0px);}

}

@keyframes flip {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  25% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  50% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  75% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}
